---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
---

<Layout title="Astro Starter">
  <div class="intro">
    <h1>Since the dawn of man...</h1>
    <h1>There has been one question that has persisted above all else...</h1>
    <h1>logo</h1>
  </div>

  <section class="bigpic">
      <div class ="bigpic-text">
    <p>fat dookie</p>
      </div>
    <img src="the goat.jpg" alt="VespaPug">
  </section>

<section class="textpic">
      <div class="textpic-text">
  <p>Starting off with Man’s Best Friend: The Dog. Dogs are known for loving one thing above all else. Sticking their head out the window. With this in mind there is only one option I view as optimal… <strong>The Motorcycle</strong>, the motorcycle would allow these dogs to be as free as they want while being perfect for the size of your above average mutt.</p>
      </div>
    <img src="the goat.jpg" alt="VespaPug">
  </section>
<div class ="text">
  <p><em>But then this begs the question. What of our smaller pals?<br>Pugs, chihuahuas, pomeranians, dachshunds, etc.,<br> What would they ride? Well to me, the answer is quite simple…</em>
</p>
</div>


<section class="textpic-r">
  <div class="textpic-text">
  <p>These small dogs would drive vespas, the slower, tinier sibling to the motorcycle. This all-italian classic would let our tiny puppy pals drive in piece, leaving nothing but a good time in their wake.</p>
</div>
  <img src="the goat.jpg" alt="VespaPug">
</section>

</Layout>
<style>

   .intro {
    width: 100vw;
    height: 200vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    align-self: center;
    justify-content: space-around;

  }

.bigpic{
    left:0;  
    width: 100vw;
    object-fit: cover;

    height: 140px;
}

.bigpic-text{
   display: flex;
    flex-wrap: wrap;
    align-content: center;
    position:relative;
    z-index: 100;
}  

.bigpic img{
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    object-fit: cover;
    position: absolute;
    width: 100vw;
    height: 200px;
  }


  .textpic {
    max-width: 60vw;
    padding:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    place-self: center
  }


  .text {
     padding: 30px;
    display: flex;
    flex-wrap: wrap;
    place-self: center;
    justify-content: flex-start;
    text-align: center;
    scale: 110%
  }

  .text p{
    justify-content: flex-start;
  }

    .textpic img{
    min-width: 30vw;
    display: flex;
    flex-wrap: wrap;
    max-height: 15vw;
    object-fit: cover;
  }

   .textpic-text{
    width: 30vw;
    display: flex;
    flex-wrap: wrap;

  }

  .textpic-r {
    max-width: 60vw;
    padding:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    place-self: center;
    flex-direction: row-reverse;
  }

    .textpic-r img{
    min-width: 30vw;
    display: flex;
    flex-wrap: wrap;
    max-height: 15vw;
    object-fit: cover;
  }

     @media (max-width:921px){
  .textpic{
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 90vw
  }
  .textpic img{
    max-width: 90vw;
    max-height: 30vw
  }
    .textpic-text{
   width: 90vw
  }
  .textpic-r{
    flex-direction: column-reverse;
    flex-wrap: wrap;
    max-width: 90vw
  }
  .textpic-r img{
    max-width: 90vw;
    max-height: 30vw
  }
  
  </style>
