---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import 'aos/dist/aos.css';
import ButtonDog from "../components/ButtonDog.astro";
---

<Layout title="Astro Starter">
  <div class="intro">
    <p data-aos="fade-in">Since the dawn of man...</p>
    </div><div class="intro">
    <p data-aos="fade-down"> There has been one question that has persisted above all else...</p>
    </div>
  <div class="intro2">
      <img src="pug in vespa 1 (3) copy.webp" alt="The Goat" data-aos="fade-in" data-aos-delay="500"> 
    </div>

  <section class="bigpic1">
      <div class ="bigpic-text">
    <p>DOGS</p>
      </div>
    <img src="279879021_2038511863018726_8946726328899972157_n.jpeg" alt="VespaPug">
  </section>

<section class="textpic">
      <div class="textpic-text">
  <p>Starting off with Man’s Best Friend: The Dog. Dogs are known for loving one thing above all else: sticking their head out the window. With this in mind there is only one option I view as optimal… <strong>The Motorcycle</strong>, the motorcycle would allow these dogs to be as free as they want while being perfect for the size of your above average mutt.</p>
      </div>
    <img src="DSC_9125 Sadie Motorcycle.jpg" alt="Dog-Img1" data-aos="fade-left"data-aos-delay="250">
  </section>
<div class ="text">
  <p><em>But then this begs the question. What of our smaller pals?<br>Pugs, chihuahuas, pomeranians, dachshunds, etc.,<br> What would they ride? Well to me, the answer is quite simple…</em>
</p>
</div>


<section class="textpic-r">
  <div class="textpic-text">
  <p>These small dogs would drive vespas, the slower, tinier sibling to the motorcycle. This all-italian classic would let our tiny puppy pals drive in piece, leaving nothing but a good time in their wake.</p>
</div>
  <img src="8e91f667b47b53d21df8aa676d21e14c.jpg" alt="Dog-Img2" data-aos="fade-right"data-aos-delay="500">
</section>

<section class="bigpic">
      <div class ="bigpic-text">
    <p>CATS</p>
      </div>
    <img src="catcover.jpg" alt="Cat Driving">
  </section>

  <section class="textpic-r">
      <div class="textpic-text">
  <p>Up next on the list, is the cat. These anti-social weirdos would 1000% drive <strong>Two Seaters</strong>. I believe this is the case for a few reasons.<br>
First and foremost: cats would drive cars, no doubt about it, they wouldn’t want to bother with the wreckless lifestyle of the dog. Instead, they’d prefer to sit in silence.</p>
      </div> 
      <img src="cat-driving-serious.gif" alt="Cat-Img1"data-aos="fade-right"data-aos-delay="250">
  </section>
      
      <section class="textpic">
      <div class="textpic-text">
  <p>The second, and more important reason, is their own self absorbed nature, they wouldn’t want to share their car with more than one person at a time (if that). Meaning that the two seater is the perfect match for these hairballs.</p>
      </div>
    <img src="toonces01.jpg" alt="Cat-Img2"data-aos="fade-left"data-aos-delay="500">
  </section>

<section class="bigpic">
      <div class ="bigpic-text">
    <p>BEARS</p>
      </div>
    <img src="bearvan.jpg" alt="Bear Driving">
  </section>

  <section class="textpic-r">
      <div class="textpic-text">
  <p>The third and most simple one on our list: Bears. Bears are big, so they need a big vehicle. They would drive trucks.</p>
      </div> 
      <img src="nhbear2.webp" alt="Bear-Img1" data-aos="fade-right"data-aos-delay="250">
  </section>

<section class="s-footer">
  <p>Cool and Awesome Footer</p>
  <ButtonDog></ButtonDog>
</section>
 
</Layout>
</html>



<style>

  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    overflow-x: hidden;
  }



   .intro {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    align-self: center;
    justify-content: space-around;
    background-color: black;
    color: white;
  }

    .intro p{
      color: white;
      font-size: 500%;
      font-style: normal;
    }

     .intro2 {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: center;
    justify-content: center;
    background-color: black
  }

      .intro2 img{
        scale: 50%;
      }

.bigpic1 {
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 140px;
  padding-top: 100px;
  padding-bottom: 225px;
  position: relative;
}

.bigpic {
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 140px;
  padding-top: 100px;
  padding-bottom: 225px;
  position: relative;
}

.bigpic-text{
   display: flex;
    flex-wrap: wrap;
    align-content: center;
    position:relative;
    z-index: 100;
    align-self: center;
    justify-content: center;
}  

.bigpic-text p{
  background-color: white;
  background-opacity: 20%;
  padding: 10px 20px 10px 20px;
  font-size: 400%
}


.bigpic img {
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0;
    top: 0;
}

.bigpic1 img {
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0;
    top: 0;
}

  .textpic {
    padding:45px;
        padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    place-self: center
  }

  .textpic p{
    font-family: noto-sans-tc, sans-serif;
    font-size: 125%
  }

   .s-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    align-self: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px;
  }

  .text {
     padding-bottom: 25px;
     padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    place-self: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    scale: 110%
  }

  .text p{
    justify-content: flex-start;
    font-family: noto-sans-tc, sans-serif;
    font-size: 125%;=
  }

    .textpic img{
    display: flex;
    flex-wrap: wrap;    
    max-width: 30vw;
    object-fit: cover;
  }

   .textpic-text{
    width: 30vw;
    display: flex;
    flex-wrap: wrap;

  }

  .textpic-r {
    padding:45px;
        padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    place-self: center;
    flex-direction: row-reverse;
  }

    .textpic-r img{
    min-width: 30vw;
    display: flex;
    flex-wrap: wrap;
    max-height: 25vh;
    object-fit: cover;
  }

  .textpic-r p{
    font-family: noto-sans-tc, sans-serif;
    font-size: 125%
  }


     @media (max-width:921px){
    body {
    overflow-x: hidden;
  }
  
  .intro2 img{
    scale:100%
  }

  .textpic{
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .textpic img{
    max-width: 100%;
    max-height: 25vh;
  }
    .textpic-text{
   width: 100%;
  }
  .textpic-r{
    flex-direction: column-reverse;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .textpic-r img{
    max-width: 100%;
    max-height: 25vh;
  }
  }

</style>

   <script>
      import AOS from "aos";
      AOS.init();
    </script>