---

---

<div class = "bigpic">
    <div class = "col">
        <slot name ="left" />
    </div>
<div class="col">
    <slot name="right" />
</div>

<style>
.bigpic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-self: center;
    justify-content: center;
    align-content: center
    
  }

    .col {
        border: 1px solid var(--color-text); 
        padding: 1rem;
    }

</style>